.movies-list{
    display:flex;
    width:100%;
    overflow-x:auto ;
    list-style-type:none;
    padding-left:0;
    margin-top:10px;
}
.movies-list::-webkit-scrollbar {
    width: 1px; 
  }
  

  .movies-list::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  

  .movies-list::-webkit-scrollbar-thumb {
    background-color: transparent; 
    border-radius: 4px;
  }
  
 
  .movies-list::-webkit-scrollbar-thumb:hover {
    background-color: transparent; 
  }
.movie{
    margin:10px;
}
.movie-image{
    width:300px;
    height:300px;
}
.heading{
    color:white;
    font-weight:700;
    margin-top:30px;
} 
.title-box{
    margin-top:50px;
}
.Explore{
    color:#eee;
    margin-bottom:20px;
    padding:10px;
}
.Explore-names{
    font-size:18px;
    color:#ddd;
    padding:10px;
    border-right:1px solid #eee;
    margin-bottom:25px;
}